<div class="about">

    <h1> Products </h1>
    <p>
        Explore the handmade products crafted by talented women where every item tells a story.
    </p><br/>
    <div class="services">
        <div class="serv">
            <mat-icon>smartphone</mat-icon>
            <br/>Mobile and phone tablets
        </div>
        <div class="serv">
            <mat-icon>laptop_windows</mat-icon>
            <br/>Laptops
        </div>
        <div class="serv">
            <mat-icon>roller_shades_closed</mat-icon>
            <br/>Home automation and smart devices
        </div>
        <div class="serv">
            <mat-icon>watch</mat-icon>
            <br/>Wearable technology
        </div>
    </div>
</div>
