body,
html {
    margin: 0;
    padding: 0;
}

.container-produits {
    overflow-x: hidden;
    overflow: hidden;
    height: auto;
    width: 100vw;
    max-width: 100%;
    background-color: #e3baee;
}

.produiyet {
    padding-top: 4vh;

    width: 100vw;
}



.card {
    margin-left: 5vw;
    color: rgba(0, 0, 0, 0.8);
    background-color: #f8dfff;
    box-shadow: -1px 1px 13px 1px rgba(155, 114, 114, 0.81);
    -webkit-box-shadow: -1px 1px 13px 1px rgba(155, 114, 114, 0.81);
    -moz-box-shadow: -1px 1px 13px 1px rgba(155, 114, 114, 0.81);
    border: none;
    height: 400px;

}

.btn {
    border: 5px solid;
    border-image-slice: 1;
    text-decoration: none;
    transition: all .4s ease;
    margin-top: 25px;
}

.btn:hover,
.btn:focus {
    background-color: rgb(24, 192, 24);

    box-shadow: #222 1px 0 10px;
    transform: scale(1.1);
}