<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <img src="assets\images\logo\logo.png" alt="Artisanat Logo" class="logo-image">
      <a href="/">Artisanat</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item" routerLink="/">Home</a>
      <a class="nav-item" routerLink="/about">About</a>
      <a class="nav-item" routerLink="/products">Products</a>
      <a class="nav-item" routerLink="/contact">Contact</a>
      <a class="nav-item" routerLink="/signin">
        Profile <i class="fas fa-user"></i>
      </a>      
    </div>
  </div>
</nav>



<!-- <nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">ARTISANA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!authenticated">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/store">Product</a>
        </li>
        <li class="nav-item" *ngIf="!authenticated">
          <a class="nav-link" routerLink="/signin">SignIn</a>
        </li>
         
        <li class="nav-item" *ngIf="authenticated">
          <a class="nav-link" routerLink="/produit">Admin</a>
        </li>
        
        
        <li class="nav-item" *ngIf="authenticated">
          <a class="nav-link" routerLink="/orders">Orders</a>
        </li>
        <li class="nav-item" *ngIf="!authenticated">
          <a class="nav-link" routerLink="/signup" id="c">SignUp</a>
        </li>
        <li class="nav-item" *ngIf="authenticated">
          <a class="nav-link" routerLink="/signup" >Contact</a>
        </li>
       
        <li class="nav-item" >
          <a class="nav-link" *ngIf="authenticated" routerLink="/shops" ><i class="material-icons">shopping_cart</i></a>
        </li>
        <li class="nav-item" *ngIf="authenticated">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav> -->
