<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <img src="assets\images\logo\logo.png" alt="Artisanat Logo" class="logo-image">
      <a href="/">Artisanat</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item" routerLink="/">Home</a>
      <a class="nav-item" routerLink="/about">About</a>
      <a class="nav-item" routerLink="/produits">Products</a>
      <a class="nav-item" (click)="emitContactClick()">Contact</a>
      <button mat-icon-button (click)="openCart()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <!-- Show Sign In if not authenticated -->
      <a class="nav-item" *ngIf="!authenticated" routerLink="/signin">
        Sign In <i class="fas fa-user"></i>
      </a>      
      
      <!-- Show Profile and dropdown if authenticated -->
      <div *ngIf="authenticated" class="profile-item profile-dropdown">
        <a (click)="toggleDropdown()">Profile <i class="fas fa-user"></i></a>
        <div *ngIf="showDropdown" class="dropdown-content">
          <a routerLink="/myproduct"><i class="fas fa-box-open"></i> My Products</a>
          <a routerLink="/favourite"><i class="fas fa-heart"></i> Favourite</a>
          <a routerLink="/orders"><i class="fas fa-truck"></i> Track My <span style="padding-left: 30px;">Products</span></a>
          <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
