<div class="about">

    <h1> Categories </h1>
    <p>
        Explore the handmade categories crafted by talented women where every item tells a story.
    </p><br/>
    <div class="product-container">
        <a href=""><div class="product">
          <img src="../../assets/images/about/baskets.png" alt="Headphones">
          <div class="product-title">Baskets</div>
        </div></a>

        <a href=""><div class="product">
          <img src="../../assets/images/about/embroidered clothes.png" alt="CPU Heat Pipes">
          <div class="product-title">Embroidered Clothes</div>
       
        </div></a>

        <a href=""><div class="product">
            <img src="../../assets/images/about/hat.png" alt="Mobile Tablets">
            <div class="product-title">Hats</div>
        </div></a>
        
        <a href=""><div class="product">
            <img src="../../assets/images/about/pot.png" alt="Bluetooth">
            <div class="product-title">Pots</div>
          </div></a>
          
        <a href=""><div class="product">
          <img src="../../assets/images/about/embroidered slippers.png" alt="Smart Watch">
          <div class="product-title">Embroidered Slippers</div>
      
        </div></a>
        
      </div>
</div>
