<!-- <div class="homepage-container">
    <div class="right-side">
      <h1>Welcome to <span class="titre">Artisanat</span></h1>
      <p>Empowering women through handmade creations 💜 </p>
       <p> Every purchase makes a difference</p>
       <p>We have a dream to find better opportunities for women who need it</p>
      <button id="btn" (click)="goToProducts()">See Our Products</button>
    </div>
    <div class="left-side">
        <img src="assets\images\logo\home-removebg-preview.png" alt="Artisanat Image" class="homepage-image">
      </div>
</div> -->

<section id="welcome-hero" class="welcome-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header-text">
                    <h2> <span id="welcome"> Welcome to </span> <br> <span id="title"> Artisanat</span> <br> </h2>
                    <p>Empowering women through handmade creations 💜</p>
                    <p> Every purchase makes a difference</p>
                    <p>We have a dream to find better opportunities for women who need it</p>
                    <a routerLink="/store"><button type="text" class="submit">See our Products</button></a>
                </div><!--/.header-text-->
            </div><!--/.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->

</section><!--/.welcome-hero-->
  