
@font-face {
    font-family: 'Alex Brush';
    src: url('AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.welcome-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background:url('arriere.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height:90vh;
    box-shadow: inset 0 0 0 90vh rgba(119, 57, 119, 0.5);
    
}
/* .welcome-hero:before{
    position:absolute;
    content: " ";
    top:0;
    left:0;
    background:rgba(37, 1, 37, 0.3);
    width:100%;
    height:100%;
} */

/*.header-text-area*/

.header-text{
    margin-top: 60px;
}
.header-text h2 #welcome {
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
}
.header-text h2 #title{
    color: #fff;
    font-family: 'Alex Brush';
    font-size: 54px;
    font-weight: 700;
    line-height: 1.5;
}
.header-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 20px 0 40px;
    letter-spacing: 1px;
    line-height: 0.5px;
}
.submit {
    background-color: #682F78;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 15px;
    outline: 0;
    text-align: center;
    width: 15%;
    padding-bottom: 57px;
    font-weight: bold;
    font-family: 'Oswald';
}

.header-text a {
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background: #b636ff;
    border:1px solid #b636ff;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
.header-text a:hover{ box-shadow: 0 5px 20px rgba(0,0,0,.4);background:#9f00ff;border: 1px solid #9f00ff;}

